nav {
    position:fixed;
    width:100%;
    padding:0;
    background-color:rgba(0,0,0,0.8);
    height:100px;
    z-index:10;
}

.logo-container{
    float:left;
    position:relative;
    width:300px;
    margin:0;
    text-align:center;
    padding: 0;
    #bnw{
    background-color: white;
    position: relative;
    // absolute
    top:0;
    left:0;
    width: 245px;
    }
    #colored{
    position: absolute;
    top:40vh;
    left:50px;
    clip-path:polygon(0 0,0.01% 0,0.01% 100%,0 100%);
    }    
}

.nav-container {
    float:right;
    position: relative;
    width:500px;
}

.userStatus {
    position: absolute;
    float:right;
    width: 50%;
    img {
        max-width:100%;
        width: 100%;
    }
}

.bookmark-container {
    width:50%;
    height: 100px;
    float:right;
    position:absolute;
    margin: 0 10px;
}

.bookmark-container a, .userStatus button {
    text-transform: uppercase;
    color: $grey;
    background-color: transparent;
    border: none;
    font-family: $body-font;
    font-size:2rem;
    font-weight:bold;
    width: 300px;
    z-index:1;
    position: absolute;
    top:40%;
    padding: 5px 0;
    left: 0;
    text-align:center;
    text-decoration: none;
}

.search-bar-container{
    clear:both;
}