@import '_setup.scss';
@import '_typography.scss';
@import '_header.scss';
// @import 'components/typography.scss';

$header-font: 'Oswald', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;


.wrapper {
    width: 85%;
    margin: 0 auto;
    // background: #fafa;
}
.mainPage {
    background: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../../assets/Deadpool-Wallpaper-1920x1080.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.search-bar-container {
    position:relative;
    max-width: 900px;
    top:50vh;
    margin:0 auto;
    font-family: $header-font;
    color:white;
    border-radius: 20px 20px 20px 20px;
    padding: 0;
    
    input[type='text'] {
        font-size:2rem;
        color:white;
        border:0;
        padding:0;
        width:85%;
        height:60px;
        float:left;
        margin: 0;
        background:none;
        border-radius: 0 0 0 20px;
        background-color:rgba(0,0,0,0.8);
        text-align:left;
        transition: all .3s ease-in-out;
        padding: 0 0 0 10px; 
    }
    input[type='submit'] {
        float:left;
        width:15%;
        height:60px;
        padding: 5px;
        background-image: url('../../assets/search.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color:rgba(0,0,0,0.8);
        max-width:100%;
        border-radius: 0 0 20px 0;   
    }
    input[type='radio'] {
        clear:both;
        text-align:Center;
    }

}

.button-container {
    width:100%;
    .button {
        height:45px;
        background: whitesmoke;
        // border-radius: 20px;
        font-family: $header-font;
        color: black;
        font-size: 2rem;
        border-bottom: 2px solid $red;
        border-radius: 20px 20px 0 0;
        transition: all .3s ease-in-out;
        width:50%;
        &:hover {
            background-color: $red;
            color: whitesmoke;
            border: 1px solid red;
        }
    }
    .button-clicked {
        height:45px;
        background: red;
        // border-radius: 20px;
        font-family: $header-font;
        color: whitesmoke;
        font-size: 2rem;
        border: 2px solid $red;
        border-radius: 20px 20px 0 0;
        transition: all .3s ease-in-out;
        width:50%;
    }
}

.comicForm {
    text-align: center;
}

.characterForm {
    text-align: center;
}

input.homeSearch {
    width: 250px;
    height: 30px;
    margin-right: 1%;
    border: none;
}

input.homeSubmit {
    width: 150px;
    height: 30px;
    border: none;
}

// COMIC RESULTS STYLES

.comicResults {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../../assets/8ae9728be2d1632fc6d92413738398da.gif);
    padding-top: 15%;
    min-height: 100vh;
}

.comicContainer {
    width: calc((94% / 4));
    margin-right: 2%;
    min-height: 560px;
    padding-top: 20px;
    float: left;
    margin-bottom: 3%;
    background: rgba(0,0,0,0.7);
    // filter: drop-shadow(30px 10px 4px white);
    // border: 5px solid rgba(255,255,255,0.7);
    text-align: center;
    position: relative;
}

.comicContainer:nth-of-type(4n+4) {
     margin-right: 0;
}

img.comicCover {
    // box-shadow: 5px 10px #969696;
    // width: 250px;
    // height: 387px;
    // object-fit: cover;
}

p.comicTitle {
    font-family: $header-font;
    @include remCalc(18);
    color: white;
    padding: 0 3%;
}

.addToCollection {
    position: absolute;
    bottom: 5px;
}

button.cart {
    width: 200px;
    height:40px;
    margin-bottom: 5%;

    border: none;
    color: white;
}

button.cartComic {
    background: $red;
}

button.cartSeries {
    background: $navy;
}

// COMIC RESULTS STYLES

.myCollection {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../../assets/8ae9728be2d1632fc6d92413738398da.gif);
    padding-top: 15%;
    min-height: 100vh;
}

.collectionComicContainer {
    width: calc((94% / 4));
    margin-right: 2%;
    min-height: 500px;
    padding-top: 20px;
    float: left;
    margin-bottom: 3%;
    background: rgba(0,0,0,0.7);
    // filter: drop-shadow(30px 10px 4px white);
    // border: 5px solid rgba(255,255,255,0.7);
    text-align: center;
    position: relative;
}

.collectionComicContainer:nth-of-type(4n+4) {
     margin-right: 0;
}

button.removeButton {
    position: absolute;
    bottom: 30px;
    padding: 5px;
    background: $red;
    color: white;
    border: none;
}
