@import '_setup.scss';
@import '_typography.scss';
@import '_header.scss';
// @import 'components/typography.scss';


.wrapper {
    width: 80%;
    margin: 0 auto;
    background: #fafa;
}

.mainPage {
    background: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../../assets/Deadpool-Wallpaper-1920x1080.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position:relative;
    // margin: 0 auto;
}

.search-bar-container {
    position:relative;
    max-width: 900px;
    top:60vh;
    margin:0 auto;
    font-family: $header-font;
    color:white;
    border-radius: 20px 20px 20px 20px;
    height: 100px;
    padding: 0;
    
    
    input[type='text'] {
        font-size:5rem;
        color:white;
        background:none;
        border:0;
        padding:0;
        width:85%;
        height:100px;
        float:left;
        margin: 0;
        background-color:rgba(0,0,0,0.8);
        &:hover {
            background-color: rgba(0,0,0,0.5);
        }    
    }
    input[type='submit'] {
        float:left;
        width:14%;
        height:100px;
        padding: 5px;
        background-image: url('../../assets/search.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color:rgba(0,0,0,0.8);
        max-width:100%;
        border-radius: 0 20px 20px 0;   
    }
    input[type='radio'] {
        clear:both;
        text-align:Center;
    }

}

.comicForm {
    text-align: center;
}

.characterForm {
    text-align: center;
    margin-top: 2%;
}

input.homeSearch {
    width: 250px;
    height: 30px;
    margin-right: 1%;
    border: none;
}

input.homeSubmit {
    width: 150px;
    height: 30px;

    border: none;
}

// COMIC RESULTS STYLES

.comicContainer {
    width: calc((94% / 4));
    margin-right: 2%;
    min-height: 520px;
    padding-top: 20px;
    float: left;
    margin-bottom: 3%;
    background: white;
    border: 1px solid black;
    text-align: center;
}

.comicContainer:nth-of-type(4n+4) {
     margin-right: 0;
}

img.comicCover {
    width: 250px;
    height: 387px;
    object-fit: cover;
}